Checks: 'bugprone-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-vararg,misc-*,-misc-no-recursion,modernize-*,-modernize-use-trailing-return-type,performance-*,readability-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
