Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-identifier-length
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
