IDR_MAINFRAME ICON "icon.ico"
1 VERSIONINFO
    FILEVERSION    1,1,0,0
    PRODUCTVERSION 1,1,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080904B0"
        {
            VALUE "FileDescription", "CHOpt\0",
            VALUE "FileVersion", "1.1.0.0\0",
            VALUE "OriginalFilename", "CHOpt.exe\0",
            VALUE "ProductName", "CHOpt\0",
            VALUE "ProductVersion", "1.1.0.0\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0809, 1200
    }
}