name: Static Analysis

on: push

jobs:
  clang-tidy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install libpng
        run: |
          sudo apt-get update
          sudo apt-get install -y libpng-dev

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.6.*

      - name: Install Boost dependencies
        run: vcpkg install boost-locale boost-test

      - name: Make build directory
        run: mkdir build

      - name: Generate build files
        working-directory: build
        env:
          CMAKE_TOOLCHAIN_FILE: /usr/local/share/vcpkg/scripts/buildsystems/vcpkg.cmake
          CXX: g++-14
        run: cmake -DPACKAGE_TESTS=OFF ..

      - name: Build
        working-directory: build
        run: cmake --build . --verbose

      - name: Main application files
        run: >
          clang-tidy-18 src/*.cpp -- -std=c++20
          -Iinclude -Ilibs -Iextern/sightread/include
          -I${QT_ROOT_DIR}/include -I${QT_ROOT_DIR}/include/QtCore -I${QT_ROOT_DIR}/include/QtGui

      - name: GUI frontend files
        run: >
          clang-tidy-18 gui/*.cpp -checks=-cppcoreguidelines-owning-memory,-readability-inconsistent-declaration-parameter-name
          -- -std=c++20
          -Iinclude -Ilibs -Iextern/sightread/include
          -I${QT_ROOT_DIR}/include -I${QT_ROOT_DIR}/include/QtCore -I${QT_ROOT_DIR}/include/QtGui -I${QT_ROOT_DIR}/include/QtWidgets
          -Ibuild/choptgui_autogen/include

      - name: Test files
        run: >
          clang-tidy-18 tests/*_unittest.cpp
          -checks=-cppcoreguidelines-avoid-do-while,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-macro-usage,-clang-analyzer-*,-readability-function-cognitive-complexity,-readability-magic-numbers
          -- -Iinclude -Iextern/sightread/include -I${QT_ROOT_DIR}/include -I${QT_ROOT_DIR}/include/QtCore
          -I ${VCPKG_INSTALLATION_ROOT}/installed/x64-linux/include -std=c++20

  clang-format:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Format
        run: |
          clang-format-18 -i gui/*.hpp gui/*.cpp include/*.hpp src/*.cpp tests/*.cpp tests/*.hpp
          git diff --color --exit-code
